.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(../images/decor-bread-cmall.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-large.png);
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand);
}

.adress-copyrigft {
  color: var(--color-secondary-dark);
  font-style: 14px;
}

.footer-container {
  display: flex;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}